/* Nav Bar css starts here */
html {
  font-family: sans-serif;
  background-color: rgba(225, 102, 57, 0.383);
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.add-dish-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 30%;
}

nav {
  width: 80%;
  background-color: rgb(81, 171, 177);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  top: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
}
.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vh;
  height: 40px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: rgba(81, 171, 177, 0.677);
  padding: 20px;
  z-index: 1000; 
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  


}
.access {
  width: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo-btn {
  margin: 0px;
  padding: 0px;
  border: 0px rgb(81, 171, 177);
  background-color: rgb(81, 171, 177);
}
.taste-image {
  width: 13vh;
  min-width: 7rem;
}

.log-in {
  width: 20vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 24px;
  min-width: 7rem;
}
.search-bar {
  min-width: 7rem;
  width: 60vh;
  height: 5vh;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.731);
  font-size: 24px;
  border-color: rgba(3, 3, 3, 0.573);
}

.all-dishes {
  width: 80%;
  /* max-width: fit-content; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dish-container {
  height: 15rem;
  /* width: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
.dish-image {
  height: 7rem;
  width: 10rem;
  /* max-width: 10rem; */
  margin: 0 auto;
}
.detail-image {
  height: 7rem;
  width: 10rem;
  /* max-width: 10rem; */
}
.info-container {
  width: 100px;
}
.delete-btn {
  margin: 10px;
  width: 19vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 19px;
  min-width: 7rem;
}
.back-btn {
  margin: 10px;
  width: 19vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 19px;
  min-width: 7rem;
}
span {
  margin: 0 auto;
  font-size: x-large;
  font-family: sans-serif;
}
.add-dish-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  margin: 0 auto;
}
.details-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 5px;
}
.footer-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: rgb(81, 171, 177);
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}
p {
  width: 350px;
  margin: auto;
  padding: 5px;
  text-align: left;
}
.bottom-bar {
  background-color: orange;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  padding: 7px;
  margin-top: 50px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* .ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
} */
