/* Nav Bar css starts here */
nav {
  width: 100%;
  background-color: rgb(81, 171, 177);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa00;
  padding: 20px;
}
.access {
  width: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo-btn{
  margin: 0px;
  padding: 0px;
  border: 0px rgb(81, 171, 177);
  background-color: rgb(81, 171, 177);
}
.taste-image {
  width: 13vh;
  min-width: 7rem;
}

.log-in {
  width: 20vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 24px;
  min-width: 7rem;
}
.search-bar {
  min-width: 7rem;
  width: 60vh;
  height: 5vh;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.731);
  font-size: 24px;
  border-color: rgba(3, 3, 3, 0.573);
}
.all-dishes {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dish-container {
  height: 15rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.dish-image {
  height: 7rem;
  width: 10rem;
  max-width: 10rem;
}
.detail-image{
  height: 7rem;
  width: 10rem;
  max-width: 10rem;
}
.info-container {
  width: 100px;
}
.delete-btn {
  margin: 10px;
  width: 19vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 19px;
  min-width: 7rem;
}
.back-btn {
  margin: 10px;
  width: 19vh;
  height: 5vh;
  margin: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: rgb(225, 99, 57);
  font-size: 19px;
  min-width: 7rem;
}
span {
  margin: 10px;
}
.add-dish-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:normal;
  width: 400px;
  height: 20vh;
  margin: 0 auto;
}
.main-footer, .footer-container{
  display: flex;
  flex-direction: row;
}
